<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Next Level Login & Registration  Form</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/Register.css">
</head>
<body>
	<div class="container">
 <form id="registerForm" action="http://127.0.0.1:5003/register" method="post" onsubmit="return validateForm()">	
		<div class="form signup">
			<h2>Sign Up</h2>
			<div class="inputBox">
				<input type="text" name="username" required="required">
				<i class="fa-regular fa-user"></i>
				<span>username</span>
			</div>

			<div class="inputBox">
				<input type="email" name="email" required="required">
				<i class="fa-regular fa-envelope"></i>
				<span>email address</span>
			</div>
			<div class="inputBox">
				<input class="password1" type="password" name="password" required="required">
				<i class="fa-solid fa-lock"></i>
				<span>create password</span>
			</div>
			<div class="inputBox">
		<input class="password2" type="password" name="password2" required="required">
				<i class="fa-solid fa-lock"></i>
				<span>confirm password</span>
			</div>
			<div class="inputBox">
				<input type="submit" value="Create Account">
			</div>
			<p>Already a member ? <a href="#" class="login">Log in</a></p>
		</div>
	</form>

 <form action="http://127.0.0.1:5003/login" method="post">
		 <div class="form signin">
			<h2>Sign In</h2>
			<div class="inputBox">
		    <input id="username" type="text" name="username" required="required">
				<i class="fa-regular fa-user"></i>
				<span>username</span>
			</div>
			<div class="inputBox">
			<input id="password" type="password" name="password" required="required">
				<i class="fa-solid fa-lock"></i>
				<span>password</span>
			</div>
			<div class="inputBox">
				<input type="submit" value="Login">
			</div>
			<p>Not Registered ? <a href="#" class="create">Create an account</a></p>
		</div>
	  </form>
	</div>

     <script src="js/register.js"></script>
	<script src="app.js"></script>
</body>
</html>